@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

*
{
	box-sizing:border-box;
}
html,
body
{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
html
{
	height:100%;
	font-size:16px;
}
body
{
	font-size:100%;
	font-family:Helvetica-Neue, Helvetica, Sans-Serif;
}
.flex-body
{
	display:flex;
	flex-direction:column;
}
.body__center
{
	align-items:center;
	justify-content:center;
}
.page-container
{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:row;
}

.mapgeist--logo
{
	width:7rem;
	position:absolute;
	top:2rem;
	right:2rem;
	display:block;
	z-index:999;
}

.btn
{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	-webkit-appearance:none;
	
	font-size:1.125rem;
	text-decoration:none;
	text-align:center;
	
	height:3em;
	cursor:pointer;
	margin:1em 0 0;
	
	background:#228b22;
	border:0.0625rem solid #355e3b;
	border-radius:0.125rem;
	color:#fff !important;
	font-weight:300;
}
.btn:hover
{
	background:#355e3b;
}
.btn__fullwidth
{
	width:100%;
}

/* LOGIN FORM */
.body__login
{
	position:relative;
	
}
.login--bg
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
	background:url(../images/login-bg.png);
	background-size:cover;
	background-position:center center;
	filter:blur(2px);
}
.login
{
	position:relative;
	top:-1.53125rem; /* Height of triangle under login panel */
	z-index:1;
	display:flex;
	flex-direction:column;
	align-items:center;
	
	width:100%;
	max-width:32rem;
	padding:4rem 3rem;
	background:#f3f3f3;
	border:0.0625rem solid #ddd;
	border-radius:0.125rem;
	
	-webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
}
.login::after
{
	content:'';
	display:block;
	background:#f3f3f3;
	position:absolute;
	bottom:-1.53125rem;
	left:50%;
	height:3rem;
	width:3rem;
	transform:translateX(-50%) rotate(135deg);
	border:0.0625rem solid #ddd;
	border-top-right-radius:0.125rem;
	
	-webkit-clip-path:polygon(-1em -1em, calc(100% + 1em) -1em, calc(100% + 1em) calc(100% + 1em), -1em -1em);
	clip-path:polygon(-1em -1em, calc(100% + 1em) -1em, calc(100% + 1em) calc(100% + 1em), -1em -1em);
	
	-webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
}

.login--header
{
	font-family:"Amatic SC", cursive;
	font-weight:200;
	font-size:3rem;
	margin:0 0 3rem;
	color:#333;
}
.login--form
{
	display:flex;
	flex-direction:column;
	width:100%;
}
.login--form-item
{
	position:relative;
	z-index:1;
	
	display:flex;
	flex-direction:row;
	align-items:center;
	-webkit-appearance:none;
	
	font-size:1.125rem;
	font-weight:300;
	
	width:100%;
	height:3em;
	margin:0 0 -0.0625rem;
	padding:0 0.75em;
	
	border:0.0625rem solid #ddd;
	background:#fff;
}
.login--form-item:first-of-type
{
	border-radius:0.125rem 0.125rem 0 0;
}
.login--form-item:last-of-type
{
	margin-bottom:0;
	border-radius:0 0 0.125rem 0.125rem;
}
.login--form-item:focus
{
	z-index:2;
	outline-color:#228b22;
}
.login--error
{
	color:#dc3545;
	margin:1em 0 0;
	text-align:center;
}
.login--logout-msg
{
	color:#28a745;
	margin:1em 0 0;
	text-align:center;
}
/* END LOGIN FORM */

/* MAPS */
.map-container
{
	flex:3 0 auto;
	position:relative;
	height:100%;
}
.leaflet-container
{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.sidebar
{
	flex:1;
	
	display:flex;
	flex-direction:column;
	
	min-width:16rem;
	background:#fff;
	padding:1em;
	position:relative;
	z-index:401;
	
	height:100%;
	
	-webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.15);
}
.sidebar--static
{
	flex:none;
	width:100%;
	margin:0 0 1em;
}
.sidebar--scroll
{
	width:100%;
	flex: 1 1 auto;
	overflow-y:auto;
	overflow-y:overlay;
}
/* END MAPS */

/* MODERATOR */
.logout-button
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	font-size: 1.125rem;
	text-align: center;
	height: 3em;
	cursor: pointer;
	margin: 1em 0 0;
	background: #228b22;
	border: 0.0625rem solid #355e3b;
	border-radius: 0.125rem;
	color: #fff;
	font-weight: 300;
	text-decoration:none;
}
.logout-button:hover
{
	background: #355e3b;
}
/* END MODERATOR */

/* LEAFLET */
.leaflet-popup-content-wrapper
{
	border-radius:0.125rem;
}
.leaflet-popup-content
{
	margin:0;
	padding:1rem;
}
.leaflet-marker-icon
{
	transition:transform .2s ease, filter .2s ease;
}
/* END LEAFLET */

/* EVENT LIST MODERATOR HOME*/
.event-list 
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  
}
.event-item
{
  display: block;
  background-color: #f3f3f3;
  color: #333;
  width:100%;
  padding: 0.5em 1em;
  margin:0 0 0.5em;
  text-decoration: none;
  border-radius:0.125rem;
}
.event-item:last-of-type
{
	margin-bottom:0;
}
.event-item:hover
{
  background-color: #333;
  color: #f3f3f3;
}
.event-item h3
{
	margin:0;
}
/* END EVENT LIST MODERATOR HOME*/